<form (submit)="this.changePictureSubmit($event)">
	<div class="profile-box">
		<div class="m-3 text-right">
			<button type="button" class="btn btn-light" (click)="this.editProfile($event)">Edit</button>
		</div>
		<div class="m-3 text-center">
			<input type="file" name="profilePicture" accept="image/*" (change)="pictureUploaded($event)" [disabled]="!this.edit" hidden #picture>
			<img (click)="pickPicture(picture)" [ngStyle]="{'filter': !this.file?'contrast(2)':'contrast(1)'}" [src]="file? file: '/assets/images/user.jpg'">
		</div>
		<div class="m-3">
			<input type="text" name="username" (keydown)="this.preventSubmit($event)" [(ngModel)]="this.username" [readonly]="!this.edit">
		</div>
		<div class="m-3 text-right">
			<button class="btn btn-light" *ngIf="this.edit">save</button>
		</div>
	</div>
</form>
