<div id="game-board" class="container-fluid">
  <table ng-class="table table-bordered">
    <tbody>
      <tr *ngFor="let row of this.getBoardGame(); index as r">
        <td
          [ngClass]="{'selected': this.isPossibleStep(r, col) || this.isSelected(cell), 'dark': ( (r + col)%2 ===1 ), 'checkmated': this.hasCheckMate() }"
          *ngFor="let cell of row; index as col"
          (click)="this.cellClicked(r, col)">
            <cell
              [piece]="cell.p"
              [color]="cell.c"
              [row]="r"
              [col]="col"
              [isSelected]="this.isPossibleStep(r, col) || this.isSelected(cell)"
              [service]="this.boardService">
            </cell>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h3 class="position-relative center" id="check-text" *ngIf="this.hasCheck()">check</h3>
<h3 class="position-relative center" *ngIf="this.hasCheckMate()">checkmate</h3>