
.dark {
  /*opacity: 0.5;*/
  background-color: LightGray;
}

td {
  /*height: 100% !important;*/
  width: 12.5% !important;
  border: 0.1px solid;
  text-align: center !important;
}

tr {
  	height: 12.5% !important;
  	width: 100% !important;	
	/*max-width: ;*/
    max-height: 12.5%;
}

.selected {
  background-color: yellow;
}

.checkmated {
	/*background-color: #FFCCCB;*/
	pointer-events: none !important;
}

table {
	height: 50vw;
	width: 50vw;
}

.row {
	/*height: 50vw;*/
	width: 50vw;
}

tbody {
	height: 100%;
	width: 100%;
}

.cell-block {
	overflow: hidden;
}

.cell-font {
	font-size: 5vw;
}
