
.dark {
  /*opacity: 0.5;*/
  background-color: LightGray;
}

td {
  /*height: 100% !important;*/
  width: 12.5% !important;
  border: 0.1px solid;
  text-align: center !important;
}

tr {
  	height: 12.5% !important;
  	width: 100% !important;	
	/*max-width: ;*/
    max-height: 12.5%;
}

.selected {
  background-color: yellow;
}

.checkmated {
	/*background-color: #FFCCCB;*/
	pointer-events: none !important;
}

table {
	height: min(80vw, 80vh);
	width: min(80vw, 80vh);
	background: white;
}

.row {
	width: min(80vw, 80vh);
}

tbody {
	height: 100%;
	width: 100%;
}

.cell-block {
	overflow: hidden;
}

.cell-font {
	font-size: min(8vw, 8vh);
}

#game-board {
	text-align: -webkit-center;
}