<div class="container-fluid">
	<div class="row mr-2">
		<div class="col d-flex flex-row-reverse">
			<app-view-type (optionPicked)="this.changeView($event)"></app-view-type><label class="ml-1">realtime update</label>
			<mat-slide-toggle [(ngModel)]="this.autoUpdate" name="autoupdate" (change)="this.update(this.autoUpdate)"></mat-slide-toggle>
		</div>
	</div>
	<div class="row mx-3">
		<div class="col">
			<div *ngIf="this.viewType === this.options.LIST">
				<app-finished-game-list [finishedGame]="this.finishedGame" *ngIf="this.finishedGame && this.finishedGame.length > 0 else noData"></app-finished-game-list>
			</div>
			<div *ngIf="this.viewType === this.options.CARD">
				<app-finished-game-card [finishedGame]="this.finishedGame" *ngIf="this.finishedGame && this.finishedGame.length > 0 else noData"></app-finished-game-card>				
			</div>
			<ng-template #noData>No Finished Games Available At The Moment</ng-template>
		</div>
	</div>	
</div>