/* You can add global styles to this file, and also import other style files */

body {
	background-image: url(/assets/images/chess_background.jpg);	
	background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}