<div class="table-responsive p-4">
	<table
		class="table table-bordered table-hover" 
		*ngIf="this.finishedGame && this.finishedGame.length > 0 else noData">
		<thead class="thead-light">		
			<tr>
				<th>game id</th>
				<th>white player</th>
				<th>black player</th>
				<th>winner</th>
				<th>start</th>
				<th>finish</th>
				<th>duration</th>
			</tr>
		</thead>
		<tbody>		
			<tr *ngFor="let finishedgame of this.finishedGame">
				<td>{{finishedgame.id}}</td>
				<td>{{finishedgame.whitePlayer}}</td>
				<td>{{finishedgame.blackPlayer}}</td>
				<td>{{finishedgame.winner}}</td>
				<td>{{finishedgame.start}}</td>
				<td>{{finishedgame.finish}}</td>
				<td>{{finishedgame.finish.getTime() - finishedgame.start.getTime()}}</td>
			</tr>
		</tbody>
	</table>
</div>
<ng-template #noData>No Finished Games Available At The Moment</ng-template>
<input type="checkbox" name="autoupdate" [(ngModel)]="this.autoUpdate" (change)="this.update(this.autoUpdate)"/><label>auto update</label>