
.dark {
  /*opacity: 0.5;*/
  background-color: LightGray;
}

td {
  height: 25px;
  width: 25px;
  border: 0.1px solid;
  text-align: center !important;
}

.selected {
  background-color: yellow;
}

.checkmated {
	background-color: #FFCCCB;
}
