<header class="flex-row mt-1 mx-0 p-0" id="navbar">
	<div class="p-0 app-logo">
		<img src="/assets/images/chess-logo-v2.jpg" alt="logo"/>
	</div>
	<div class="p-0 d-flex pb-1">
		<a href="#" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
		<a href="#" [routerLink]="['/profile']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [hidden]="!this.isActive(profile)" #profile>Profile</a>
		<a href="#" [routerLink]="['/tuto']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [hidden]="!this.isActive(tuto)" #tuto>Tutorial</a>
		<a href="#" [routerLink]="['/active']" routerLinkActive="active" [hidden]="!this.isActive(activegame)" #activegame>Active games</a>
		<a href="#" [routerLink]="['/finished']" routerLinkActive="active" [hidden]="!this.isActive(finished)" #finished>Finished games</a>
	</div>
	<div class="user p-0">
		<user-menu></user-menu>
	</div>
</header>
