<div class="card-columns">
	<div 
		class="card text-center" 
		[routerLink]="['/finished']"
		*ngFor="let activegame of this.activeGame">
		<img class="card-img-top card-icon active-game-icon p-2" src="/assets/images/chess-game-icon.png" alt="Card image">
	  	<div class="card-body text-center">
	      	<p class="card-text">game id: {{activegame.id}}</p>
	      	<p class="card-text">white player: {{activegame.whitePlayer}}</p>
	      	<p class="card-text">black player: {{activegame.blackPlayer}}</p>
	      	<p class="card-text">creation date: {{activegame.creationDate}}</p>
	    </div>
	    <div class="card-footer" *ngIf="!activegame.blackPlayer">
	    	<button class="btn btn-outline-primary" (click)="this.joinGame(activegame.id)">Join</button>
	    </div>
	</div>
</div>