<filter (optionClicked)="this.addFilter($event)" (optionClear)="this.clearFilterAndUpdate($event)" [filterModel]="this.filterlist" [appliedFilters]="this.appliedFilters" (clearAll)="this.clearAll()">
	<div class="container-fluid">
		<div class="row mr-2">
			<div class="col d-flex flex-row-reverse">
				<app-view-type (optionPicked)="this.changeView($event)"></app-view-type><label class="ml-1">realtime update</label>
				<mat-slide-toggle [(ngModel)]="this.autoUpdate" name="autoupdate" (change)="this.update(this.autoUpdate)"></mat-slide-toggle>
			</div>
		</div>
		<div class="row justify-content-center">
			<chess-modal (submitted)="this.createGameSubmit()" triggerText="New Game" [triggerTextClasses]="['btn', 'btn-light']" title="New Game" submitBtnText="Create" [submitBtnTextClasses]="['btn', 'btn-outline-dark']">
				<div class="text-center d-flex">
					<div class="text-left mr-3">					
						<div (click)="this.toggleRadio(true)">
							<input type="radio" name="solo" [value]="true" [checked]="this.solo">
							<label class="ml-2">Solo</label>
						</div>
						<div (click)="this.toggleRadio(false)">
							<input type="radio" name="solo" [value]="false" [checked]="!this.solo">
							<label class="ml-2">Multiplayer</label>
						</div>
					</div>
					<div class="text-center" *ngIf="!this.solo">					
				  		<chess-modal [closeSub]="this.subject" (opened)="this.modalOpened('Pick ennemy')" triggerText="Pick ennemy" [triggerTextClasses]="['btn', 'btn-light']" title="Players" [hasFooter]="false" *ngIf="!this.ennemyPlayer; else ennemyPicked">
					  		<table class="table table-bordered table-hover">
								<tbody class="bg-white">		
									<tr *ngFor="let ennemy of this.ennemyPlayersList" (click)="this.setEnnemy(ennemy)">
										<td>{{ennemy.username}}</td>
									</tr>
								</tbody>
							</table>
						</chess-modal>

						<ng-template #ennemyPicked>
							<label class="ml-3">
								{{this.ennemyPlayer?.username}}
								<button type="button" class="close float-none ml-2" (click)="this.removeEnnemy()"><span aria-hidden="true">&times;</span></button>
							</label>
						</ng-template>
					</div>
				</div>
			</chess-modal>
		</div>
		<div class="row">
			<div class="col">
				<div *ngIf="this.viewType === this.options.LIST" (scroll)="this.scrolled($event)">
					<app-active-game-list [activeGame]="this.activeGameShow" (join)="this.joinGame($event)" *ngIf="this.activeGame && this.activeGame.length > 0 else noData"></app-active-game-list>
				</div>
				<div *ngIf="this.viewType === this.options.CARD" (scroll)="this.scrolled($event)">
					<app-active-game-card [activeGame]="this.activeGameShow" (join)="this.joinGame($event)" *ngIf="this.activeGame && this.activeGame.length > 0 else noData"></app-active-game-card>				
				</div>
				<ng-template #noData>No Active Games Available At The Moment</ng-template>
			</div>
		</div>
	</div>
</filter>
