<div class="container-fluid menu-container">
	<div class="side-menu p-3" sideMenuKeeper [ngClass]="{'active': this.menuOpen}">
		<div>
			<span class="fa fa-close right-toggle hamburger-menu" sideMenuKeeper (click)="this.toggleMenu()"></span>
		</div>
		<div class="mt-4">
			Filter
			<ul class="mt-3" *ngIf="this.filterModel">
				<li *ngFor="let group of this.filterModel.groups; index as gindex" class="mb-2">
					{{group.label}}
					<ul *ngIf="group.options">
						<li *ngFor="let option of group.options; index as opindex">
							<input 
								class="mr-1" 
								[type]="option.value?.type"
								[name]="option.value?.name"
								[min]="option.value?.min"
								[max]="option.value?.max"
								[value]="option.value?.defaultValue"
								[(ngModel)]="option.value.value"
								[placeholder]="option.value?.placeholder ? option.value?.placeholder : ''"
								(change)="this.emitOption(gindex, opindex, option.value.value, option.select?.choice, option.property)"
								*ngIf="option.value && option.value.prelabel"/>
							{{option.label}}
							<select
								[value]="option.select.options[0].value"
								[(ngModel)]="option.select.choice"
								*ngIf="option.select?.options">
								<option [value]="selectOption.value" *ngFor=" let selectOption of option.select.options">{{selectOption.label}}</option>
							</select>
							<input 
								class="ml-1" 
								[type]="option.value?.type"
								[name]="option.value?.name"
								[min]="option.value?.min"
								[max]="option.value?.max"
								[value]="option.value?.defaultValue"
								[(ngModel)]="option.value.value"
								[placeholder]="option.value?.placeholder ? option.value?.placeholder : ''"
								(change)="this.emitOption(gindex, opindex, option.value.value, option.select?.choice, option.property)"
								*ngIf="option.value && !option.value?.prelabel"/>
							<span class="ml-2 fa fa-close" (click)="clearFilterOption(gindex, opindex)" *ngIf="option.value.value !== option.value.defaultValue"></span>
						</li>
					</ul>
				</li>
				<button class="btn btn-light" (click)="this.clearAllFilters()">Clear all</button>				
			</ul>
		</div>
	</div>
	<div class="menu-content" [ngClass]="{'active': this.menuOpen}">
		<div class="container-fluid mb-2">
			<div class="d-inline-flex">
				<span class="fa fa-bars hamburger-menu mr-2" sideMenuKeeper (click)="this.toggleMenu()"></span>
				<div class="filter-elem m-1" *ngFor="let elem of this.appliedFilters">
					{{filterModel.groups[elem.group].options[elem.option].label + (elem.select ? elem.select: ":")+ elem.value}}
					<span class="fa fa-close" (click)="this.clearFilterOption(elem.group, elem.option)"></span>
				</div>
			</div>
		</div>
		<ng-content></ng-content>
	</div>
</div>
